@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-wrapper{
    /* padding-left: 5cqw; */
    padding: 2cqw 5cqw;
    /* padding-right: 5cqw; */
}

/* .user-card{
    display: inline-block;
} */

.swiper-button-prev{
    color:  black !important;
    /* width: 0.5cqw !important; */
    /* height: 0.5cqw !important; */
    position: absolute !important;
    right: 4cqw !important;
    top: 2cqw !important;
}
.swiper-button-next{
    color:  black !important;
    /* background:white; */
    position: absolute !important;
    right: 2cqw !important;
    top: 2cqw !important;
}
